<!-- Main -->

<div id="main">

	<!-- Intro -->
	<section id="top" class="one dark cover">
		<div class="container">

			<header>
				<h2 class="alt">
					Hey! I'm <strong>Adam Kvent</strong> and  I am a ninja programmer. <br /> 
					You can see my work and their source code <a href="https://github.com/Danil-V?tab=repositories">here</a>. <br />
					This site template was taken <a href="http://html5up.net">here</a> and adapted.
				</h2>
			<p>You can also see my projects by clicking the button below.</p>
			<p>May the force be with you!</p>
			</header>

			<footer>
				<a href="#portfolio" class="button scrolly">My projects</a>
			</footer>

		</div>
	</section>

	<!-- Portfolio -->
	<section id="portfolio" class="two">
		<div class="container">

			<header>
				<h2>Portfolio</h2>
			</header>

			<p>This project is made solely for entertainment purposes and dose not carry any seriousness.
			All materials for this section have been taken from open sources on the internet and describe the different feelings manifested by living beings.</p>

			<div class="row">

				<div class="col-4 col-12-mobile">
					<article class="item">
						<a href="https://en.wikipedia.org/wiki/Seriousness" class="image fit"><img src="images/MyPic02.jpg" alt="" /></a>
						<header>
							<h3><strong>Seriousness</strong></h3>
						</header>
					</article>
					<article class="item">
						<a href="https://en.wikipedia.org/wiki/Preparedness" class="image fit"><img src="images/MyPic03.jpg" alt="" /></a>
						<header>
							<h3>Preparedness</h3>
						</header>
					</article>
				</div>
				
				<div class="col-4 col-12-mobile">
					<article class="item">
						<a href="https://en.wikipedia.org/wiki/Indignation" class="image fit"><img src="images/MyPic04.jpg" alt="" /></a>
						<header>
							<h3>Indignation</h3>
						</header>
					</article>
					<article class="item">
						<a href="https://en.wikipedia.org/wiki/Sadness" class="image fit"><img src="images/MyPic05.jpg" alt="" /></a>
						<header>
							<h3>Sandess</h3>
						</header>
					</article>
				</div>

				<div class="col-4 col-12-mobile">
					<article class="item">
						<a href="https://en.wikipedia.org/wiki/Spite_(sentiment)" class="image fit"><img src="images/MyPic06.jpg" alt="" /></a>
						<header>
							<h3>Spite</h3>
						</header>
					</article>
					<article class="item">
						<a href="https://en.wikipedia.org/wiki/Happiness" class="image fit"><img src="images/MyPic07.jpg" alt="" /></a>
						<header>
							<h3>Happiness</h3>
						</header>
						</article>
				</div>
			</div>

		</div>
	</section>

	<!-- About Me -->
	<section id="about" class="three">
		<div class="container">

			<header>
				<h2>About Me</h2>
			</header>

			<a href="#" class="image featured"><img src="images/MyPic08.jpg" alt="" /></a>

			<p>
				Hello, my name is Adam and I am a programmer. 
				<br />I am very proud to be able to create and implement my ideas in code.
				My adventure in the world of programming began over a year ago and during this time I have managed to learn and implement a lot.
				The possibilities that programming opens up for me inspire me every day.
				I enjoy complex tasks and finding creative ways to solve them, applying my knowledge and skills.
				Being a programmer to me means constant development, learning new technologies and tools aimed at becoming a true professional in my field.				
			</p>

		</div>
	</section>

	<!-- Contact -->
	<section id="contact" class="four">
		<div class="container">

			<header>
				<h2>Contact</h2>
			</header>

			<p>
				If you have any questions or you would like to collaborate, please feel free to contact me.
				I am always open to new projects and opportunities.
				I would be happy to share my experience and learn together with you!.
			</p>

			<form method="post" action="#">
				<div class="row">
					<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
					<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
					<div class="col-12"><textarea name="message" placeholder="Message"></textarea></div>
					<div class="col-12"><input type="submit" value="Send Message" /></div>
				</div>
			</form>

		</div>
	</section>

</div>