<!--Задаем отображение сообщения в строке адреса браузера и настраиваем метатэги-->
<title>Мое портфолио</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />